* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
body {
  font-family: var(--font-family-secondary);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  line-height: 1.6;
  max-width: var(--max-width);
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

.card {
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  margin: var(--margin) 0;
  background-color: var(--background-color);
}
