


.menu-header {
  margin: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px 0;
}

.menu-header h1 {
  margin: 0;
  font-size: 2rem;
}

.menu-header p {
  margin: 5px 0 0;
  font-size: 1rem;
}

.menu-content {
  background-color: var(--background-color);
  color: var(--text-color2);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu-categories {
  width: 20%;
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: var(--box-shadow);
  border: 1px solid red;
}

.menu-categories h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  text-align: center;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--border);
  text-align: center;
}

.category-item:hover {
  background-color: var(--button-hover-background);
  color: var(--text-color);
}

.menu-products {
  width: 80%;
  padding: 10px;
}

.sorting {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  font-size: 1.1rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Her kart için minimum 250px, genişlik sığdıkça daha fazla */
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: var(--text-color);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card h4 {
  margin: 15px 10px;
  font-size: 1.2rem;
  color: var(--text-color2);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid var(--border);
}

.product-card p {
  margin: 10px;
  font-size: 1rem;
  color: var(--text-color2);
}

.products-grid > .product-card:hover {
  transform: scale(1.05);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background);
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: var(--accent-color);
}

.category-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.no-image-placeholder {
  width: 100%;
  height: 150px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu-content {
    flex-direction: column;
  }

  .menu-categories {
    width: 100%;
    margin-bottom: 20px;
  }

  .menu-products {
    width: 100%;
  }
}
