:root {
    --primary-color: #D12727; /* Kırmızı ton */
    --secondary-color: #FFB100; /* Sarı ton */
    --accent-color: #FF6F61; /* Açık kırmızı */
    --text-color: #ffffff; /* Beyaz */
    --background-color: #FFF5E5; /* Açık sarı arka plan */
    --header-background: #D12727; /* Başlık için kırmızı */
    --link-color: #FFB100; /* Sarı link rengi */
    --button-background: #FFB100; /* Buton rengi */
    --button-hover-background: #FFA500; /* Buton hover rengi */
    --card-background: #FFF5E5; /* Kart arka planı */
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;
    --padding: 1rem;
    --margin: 1rem;
    --border-radius: 8px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
